html, body {
	height: 100%;
	width: 100%;
	background-color: black;
}

.jumbotron#main {
	padding-top: 0em;
	margin-top: 0em;
	padding-bottom: 0em;
	margin-bottom: 0em;
	height: 100%;
	width: 100%;
	background-color: black;
}

#logo {
	width: 40%;
}

#search {
	width: 30%;
	margin: 0 auto;
	float: none;
}

#footer {
	margin-top: 2em;
}

.description {
	color: white;
}

.link {
	color: green;
}

.link:hover {
	color: green;
	text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
	#search {
		width: 100%;
	}

	.jumbotron#main {
		padding-top: 3em;
	}

	#logo {
		width: 100%;
	}
}