html, body {
	height: 100%;
	width: 100%;
}

.jumbotron#main {
	padding-bottom: 0em;
	margin-bottom: 0em;
	height: 100%;
	width: 100%;
	background-color: black;
}

#logo {
	width: 40%;
}

#search {
	width: 30%;
	margin: 0 auto;
	float: none;
}

#description {
	margin-top: -2em;
	color: white;
}

.link {
	color: green;
}

.link:hover {
	color: green;
	text-decoration: none;
}